.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* overflow: visible; */
}

.home--intro {
    font-size: 2em;
    color: white;
    font-weight: 900;
    justify-content: center;
    padding: 2rem;
    display: flex;
    background: linear-gradient(
        to right,
        #F26F63,
        #F25781,
        #F28157
        
    );
}

.home--intro p{
    background: fixed;
    width: 50%;
    text-align: center;
}

.home--intro a{
    text-decoration: none;
    background: fixed;
    color: #C14567;
    font-weight: 900;
}

.home--intro a:hover {
    text-shadow: rgba(193,69,103, 0.25) 0px 54px 55px, rgba(193,69,103, 0.12) 0px -12px 30px, rgba(193,69,103, 0.12) 0px 4px 6px, rgba(193,69,103, 0.17) 0px 12px 13px, rgba(193,69,103, 0.09) 0px -3px 5px;
}

