.home {
    height: 100vh;
}

.home--intro {
    /* border: 1px solid red; */
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    /* height: 100vh; */
    color: white;
    font-weight: 900;
}

.home--intro a{
    text-decoration: none;
    color: #F25781;
    font-weight: 800;
}

.home--intro a:hover {
    text-shadow: rgba(242,87,129, 0.25) 0px 54px 55px, rgba(242,87,129, 0.12) 0px -12px 30px, rgba(242,87,129, 0.12) 0px 4px 6px, rgba(242,87,129, 0.17) 0px 12px 13px, rgba(242,87,129, 0.09) 0px -3px 5px;
}