
.card {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    width: 50%;
}


.card--img {
    height: 25em;
    width: 100%;
    justify-content: center;
    border: 1px solid rgb(242, 0, 255);
}

.card--name{
    text-align: center;
    font-size: 2em;
    /* border: 1px solid rgb(9, 255, 0); */
}