
.card--div {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    height: 25em;
}


.card--img {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    /* position: relative; */
    /* border: 1px solid rgb(242, 0, 255); */
}

.card--name{
    text-align: center;
    font-size: 2em;

    font-weight: bolder;
    position: relative;
    height: fit-content;
    bottom: 1.5em;
    background: rgba(0, 0, 0, 0.2);
    
    /* background-color: white;
    color: black; */
    /* border: 1px solid rgb(9, 255, 0); */
}