
.card {
    text-decoration: none;
    color: white;
}

.card--elements{
    display: grid;
    border: 1px solid white;
    justify-content: center;
}

.card--img {
    grid-row: 1;
    height: 25em;
    width: 25em;
}

.card--name{
    grid-area: 2 / 1 / span 2 / span 3;
    border: 1px solid white;
    text-align: center;
    font-size: 2em;
}