.nav{
    border: 2px solid black;
    display: flex;
    padding: 0.5em;
    align-items: center;
    justify-content: space-between;
    background-color: #1C1D25;
    color: white;
    overflow: hidden;
}

.nav--logo--link{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: #1C1D25;
}

.nav--logo{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    font-size: 1.5rem;
    background-color: #1C1D25;
}

.nav--logo h4{
    background-color: #1C1D25;
    color: white;
}

.nav--image {
    height: 2.5em;
    width: 2.5em;
    margin-right: 0.1em;
    background-color: #1C1D25;
}

.nav--search{
    margin-left: 2em;
    border-radius: 5em;
    display: flex;
    height: 1.5em;
    width: 25em;
    background-color: #1C1D25;
}

.nav--search input {
    border-radius: 10px;
    text-align: center;
    background-color: white;
}
.nav--search button {
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 1em;
    cursor: pointer;
    transition-delay: 0.25s;
    background-color: white;
}

.nav--search button:hover {
    color: white;
    background-color: #F25781;
    box-shadow: rgba(242,87,129, 0.25) 0px 54px 55px, rgba(242,87,129, 0.12) 0px -12px 30px, rgba(242,87,129, 0.12) 0px 4px 6px, rgba(242,87,129, 0.17) 0px 12px 13px, rgba(242,87,129, 0.09) 0px -3px 5px;
}

.nav--format_list{
    display: flex;
    font-size: 1.5rem;
    background-color: #1C1D25;
}

.nav--format_list a{
    text-decoration: none;
    color: white;
    margin-left:2em;
    transition-delay: 0.25s;
    background-color: #1C1D25;
}

.nav--format_list a:hover{
    color: #F25781;
    cursor: pointer;
    box-shadow: rgba(242,87,129, 0.4) 0px 5px, rgba(242,87,129, 0.3) 0px 10px, rgba(242,87,129, 0.2) 0px 15px, rgba(242,87,129, 0.1) 0px 20px, rgba(242,87,129, 0.05) 0px 25px;
}