
.format--title{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.format--titleName{
    margin-right: 1.5em;
}

.format--version{
    background-color: white;
    border-radius: 5px;
    height: 2em;
}

.format--version option {
    background-color: white;
}

.format--table {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

table {
    border: 1px solid white;
    height: 65vh;
    width: 50vw;
    color: white;
    border-collapse: collapse;
}

th {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: start;
}


.cell--rows {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.cell--rows:hover td{
    background-color: #f25781;
    cursor: pointer;
    opacity: 75%;
}

.cell--rows tbody tr {
    background-color: white;
}

.format--pagination {
    /* border: 1px dashed green; */
    margin: 0.5em;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:white;
}

.format--pagination button {
    background-color: white;
    border-radius: 0.75em;
    width: 5em;
    height: 3em;
    margin-right: 1em;
    cursor: pointer;
}

.pageSize {
    background-color: white;
    border-radius: 5px;
}

.pageSize option {
    background-color: white;
}